/*FIX ME need to add button active states*/
/*button:active {
  border: 2px solid #000;
}*/

@font-face {
    font-family: FiraSansOT-Bold;
    src: url('../../fonts/FiraSansOT-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FiraSansOT-Medium;
    src: url('../../fonts/FiraSansOT-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FiraSansOT-Regular;
    src: url('../../fonts/FiraSansOT-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


body {
  //background: #fff;
}

#startup {
  font-family: FiraSansOT-Regular;
  position: absolute;
  top: 30%;
  width: 200px;
  left: 19%;
}

#canvasArea {
  position: relative;
}

#sketchpad {
  //background: rgb(0,255,255);
}

canvas {
  //background: rgb(0,255,255);
}

#btn-pencil {
  //border-bottom: 1px solid rgb(0,0,0);
  background: url('../images/btns/btn-brush.png');
  background-size: 31px 31px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
}

#btn-eraser {
  //border-bottom: 1px solid rgb(255,255,255);
}

#footer {
  background: orange;
  height: 20% !important;
  overflow: hidden;
}

#maintoolbar {
  background: rgba(249,249,249,0.9);
}

#maintoolbar #btn-pencil {
  border-radius: 0px;
}

#maintoolbar button#btn-eraser, button#btn-colorpicker, button#btn-brushsize, button#btn-done, button#btn-undo {
  background: none;
}

#maintoolbar button img{
  width: 28px;
  height: 28px;
}

#brushsize button {
  background: none;
}

#brushsize button img{
  width: 26px;
  height: 26px;
}

.toolbar {
  background: rgba(249,249,249,0.9);
  position: fixed;
  bottom: -200px;
  width: 100%;
  //height: 20px;
}

button#color-zero {
  background: rgb(0,0,0);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-one {
  background: rgb(235,53,36);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-two {
  background: rgb(223,78,50);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-three {
  background: rgb(223,171,48);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-four {
  background: rgb(74,187,134);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-five {
  background: rgb(52,152,219);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-six {
  background: rgb(53,72,157);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

button#color-seven {
  background: rgb(133,36,114);
  border: 0px;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

.btn-primary {
  background-color: #2980b9;
}

#done-panel {
  position: fixed;
  width: 100%;
  bottom: -300px;
  z-index: 9999;
  font-family: FiraSansOT-Regular;
}


/*body {
  font-family: -apple-system-font;
}

p {
  font-family: -apple-system-font;
  font-size: 17px;
  line-height: 21px;
}

li {
  font-family: -apple-system-font;
  font-size: 17px;
  line-height: 21px;
}

headers {
  font-family: -apple-system-font;
  font-weight: bold;
}

h1 {
  font-family: -apple-system-font;
  font-weight: 100;
}*/


//portrait view
@media (min-width: 320px) {
  body {
    background: black;
  }
}

//landscape view