#canvasArea { 
  position: relative;
}
#imageView {
  border: 1px solid black;
  height:380px;
}
.toolbar {
  background: #ccc;
  position: absolute;
  bottom: -40px;
  width: 100%;
  //height: 20px;
}


/*body {
  font-family: -apple-system-font;
}

p {
  font-family: -apple-system-font;
  font-size: 17px;
  line-height: 21px;
}

li {
  font-family: -apple-system-font;
  font-size: 17px;
  line-height: 21px;
}

headers {
  font-family: -apple-system-font;
  font-weight: bold;
}

h1 {
  font-family: -apple-system-font;
  font-weight: 100;
}*/


//portrait view
@media (min-width: 320px) {
  body {
    background: black;
  }
}

//landscape view